@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}


body {
  font-family: "Roboto", Helvetica,cursive,
    Arial, sans-serif;
    font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      color: var(--color-white);
      margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}


input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
